.env
.env.local
.env.template
node_modules/
dist/
build/
__pycache__/
*.pyc
*.log
*.bak
# Backups base de données
backup/*
!backup/.gitkeep

# Conventions locales
dev.cookies
prod.cookies
cookies.txt
